[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/heatshrink"]
	path = lib/heatshrink
	url = https://github.com/UnePierre/heatshrink.git
