[submodule "FreeRTOS-Kernel"]
	path = FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/stm32-usb.rs"]
	path = lib/stm32-usb.rs
	url = https://github.com/ololoshka2871/stm32-usb.rs.git
[submodule "lib/usbd-serial"]
	path = lib/usbd-serial
	url = https://github.com/ololoshka2871/usbd-serial.git
